.form-horizontal
  =form.inputs do
    -if @page.parent.try(:slug) == "blog" && !current_user.yoomee_staff?
      =form.input :parent_id, :as => :hidden
    -else
      =parent_page_select(form)
    =form.input :title
    =form.input :short_title
    -if @page.parent.try(:slug) == "blog" 
      =form.input :user, :label => "Author", :include_blank => false, :collection => User.where(:role => "admin").where("email NOT IN (?)",YmUsers::YOOMEE_EMAILS)
    -if @page.parent.try(:slug) == "blog"
      .control-group
        =form.label :publication_date, :class => "control-label"
        .controls
          =form.date_select :publication_date, {:order => [:day, :month, :year], :prompt => @page.new_record?, :default => @page.created_at}, :class => "span2"
      =form.input :summary, :input_html => {:rows => 4, :class => "span6"}, :label => "Summary"
    =form.input :text, :as => :redactor  
    -if !@page.new_record? && @page.image
      .control-group
        .controls
          =image_for(@page, "100x100#")
    =form.input :remove_image, :as => :boolean
    =form.input :retained_image, :as => :hidden
    =form.input :image, :as => :file, :label => "Image"
    =form.input :view_name, :as => page_view_name_input_type(form.object), :collection => Page::view_names, :include_blank => false, :member_label => "titleize", :label => "Layout"
    =form.input :permalink_path, :label => "Permalink"
    =form.input :slug if current_user.try(:yoomee_staff?)
    =form.input :draft, :label => "This is a draft"