-content_for :head do    
  =javascript_include_tag "http://assets.pinterest.com/js/pinit.js"

.container
.cardboard-wrapper
  .cardboard-wrapper-top
  .container
    .row
      .span5
        =link_to_slug "&larr; Back to the blog".html_safe, :blog, :class => 'btn mb-1'
        .clearfix
      .span3
        =link_to(feed_path, :title => "Subscribe via RSS", :class => 'btn btn-rss pull-right mb-3 blog-post-rss') do
          %i.icon-rss
          %span Subscribe  
      .blog-roll.span8
        .blog-roll-inner
          .blog-post
            %h1.mb-2=title(@page.title)
            =image_for(@page, "558x", :class => 'mb-2') if @page.image
            =raw @page.text
          .clearfix
          .disqus_thread=disqus_thread(@page, Settings.disqus_shortname)
          =options_panel do
            =link_if_can("Edit post", [:edit, @page])
            =link_if_can("Delete post", [:destroy, @page], :confirm => "Are you sure?") unless @page.slug.present?
            =link_if_can("New post", [:new, Page.new])
          .clearfix                
                
      #blog_right_col.span4
        #blog_post_info
          %ul.unstyled.post-info  
            %li.post-author
              =image_for(@page.user, "20x20#")
              =link_to '#', :class=>"post-author-img" do
                %span=@page.user
            %li.post-date
              %i.icon-calendar
              %span=@page.publication_date.try(:stamp,"Nov 31, 2012")
            %li.post-comments
              %i.icon-comments-alt
              %span=link_to 'Comments', page_path(@page, :anchor => 'disqus_thread'), "data-disqus-identifier" => disqus_id(@page), :class => 'comment-count'
          %ul.unstyled
            %li=twitter_share_button(@page, :via => "thenutribox", :related => "thenutribox")
            %li.mt-1=facebook_like_button(@page)
            %li.mt-1.facebook-share
              =facebook_share_link(url_for(@page), {:share_name => @page.title, :share_description => @page.title, :share_image => @page.image, :text => "Share"})             
            %li.mt-1
              %g:plusone{:size => "medium"}
            %li.mt-1
              =pinterest_pin_button(@page)
        -#
          #blog_archive.blog_box
            %h3 Archive
            %select
              %option
                Jan 2012
              %option
                Feb 2012
               
          #blog_categories.blog_box
            %h3 Categories
            %ul.lst
              %li
                =link_to "#", :class => 'tag' do
                  %span.label.tag-label
                    News
              %li
                =link_to "#", :class => 'tag' do
                  %span.label.tag-label
                    Healthy eating
.clearfix
=disqus_counts(Settings.disqus_shortname)
=render "layouts/stay_in_touch"