.container
.cardboard-wrapper
  .cardboard-wrapper-top
  .container
    .row
      .span8.mb-2
        %h1.blog-main-title=@page.title
    .row
      .blog-roll.span8
        .blog-roll-inner
          -@page.children.latest.each do |page|
            .blog-post.post-summary
              .post-summary-left
                -if page.image
                  =link_to page, :class=>"post-summary-img" do
                    =image_for(page, "200x160#")
                %ul.unstyled.post-info  
                  %li.post-author
                    =image_for(page.user, "20x20#")
                    =link_to '#', :class=>"post-author-img" do
                      %span=page.user
                  %li.post-date
                    %i.icon-calendar
                    %span=page.publication_date.try(:stamp,"Nov 31, 2012")
                  %li.post-comments
                    %i.icon-comments-alt
                    %span=link_to 'Comments', page_path(page, :anchor => 'disqus_thread'), "data-disqus-identifier" => disqus_id(page), :class => 'comment-count'
              .post-summary-right
                %h2.summary-title
                  =link_to page do
                    =page.title
                %p.summary-intro
                  =summary_or_truncated_text(page,350)
                =link_to "Read more", page, :class=>"summary-read-more"
            .clearfix
          -if can?(:edit, @page)
            =options_panel do
              =link_to("Blog settings", edit_page_path(@page))
              =link_to("New blog post", new_page_path(:parent => Page.find_by_slug("blog").id))
          .clearfix

                
                
      #blog_right_col.span4
      -#
        #blog_archive.blog_box
          %h3 Archive
          %select
            %option
              Jan 2012
            %option
              Feb 2012
               
        #blog_categories.blog_box
          %h3 Categories
          %ul.lst
            %li
              =link_to "#", :class => 'tag' do
                %span.label.tag-label
                  News
            %li
              =link_to "#", :class => 'tag' do
                %span.label.tag-label
                  Healthy eating
.clearfix
=disqus_counts(Settings.disqus_shortname)
=render "layouts/stay_in_touch"