.span12
  %h1.mb-3=@page.title
  -if @page.image
    .row
      .span8
        =image_for(@page, "620x")
  .row
    .span8
      =#contentize(@page.text)
  .row
    .span4.how-it-works-item
      .well.how-it-works-well
        =image_tag "illustration-choose.png", :class=>"how-it-works-illustration "
        %h2.how-it-works-title
          Choose
        %div.how-it-works-desc
          =simple_format(snippet_text(:choose_intro, "We offer two different box sizes –a selection of 8-10 or 16-20 gluten-free snacks that vary month to month (the variation in snack quantity reflects the portion size and cost of different snacks)."))
        =link_to "See plans", "/join", :class=>"how-it-works-cta btn btn-primary"
    .span4.how-it-works-item
      .well.how-it-works-well
        =image_tag "illustration-receive.png", :class=>"how-it-works-illustration "
        %h2.how-it-works-title
          Receive
        %div.how-it-works-desc
          =simple_format(snippet_text(:receive_intro, "So you don't have to wait too long before receiving your first box, we have created two order and distribution windows each month."))
        =link_to_slug "Find out more", :receive, :class=>"how-it-works-cta btn btn-primary"  
    .span4.how-it-works-item
      .well.how-it-works-well
        =image_tag "illustration-surprise.png", :class=>"how-it-works-illustration illustration-surprise "
        %h2.how-it-works-title
          Surprise
        %div.how-it-works-desc
          =simple_format(snippet_text(:surprise_intro, "Each box contains a mix of fruit and nut mixes, snack bars, savoury snacks and treats.  Enjoy the surprise of finding out what’s in your gluten-free box each month and reap the benefits of healthier snacking."))
        =link_to "Subscribe", "/join", :class=>"how-it-works-cta btn btn-primary"
      
      
      
    .span8
      =options_panel do
        =link_if_can("Edit page", [:edit, @page])
        =link_if_can("Delete page", [:destroy, @page], :confirm => "Are you sure?") unless @page.slug.present?
        =link_if_can("New page", [:new, Page])