.span12.special-diets
  .header-images
    =image_tag('box-standard-1.png', :class => "nutribox-image")
    =image_for(@page, :class => "box-theme-title-image")
  .row
    .span12.mt-3.mb-3
      =contentize(@page.text)      
      -if @page.slug == "sports-nutrition"
        %p.blogs-we-love
          %b Inspired by how Nutribox is supporting sports nutrition diets? Embed the code below to get a Nutribox "Blogs We Love" button on your site
          =image_tag("sports-nutrition.png")              
          %textarea
            <a href="https://thenutribox.com"<img src="https://thenutribox.com/assets/sports-nutrition.png" alt="Sports nutrition snacks"></img></a>
      -elsif @page.slug == "vegan-snacks"
        %p.blogs-we-love
          %b Inspired by how Nutribox is supporting vegan diets? Embed the code below to get a Nutribox "Blogs We Love" button on your site
          =image_tag("vegan-snacks.png")              
          %textarea
            <a href="https://thenutribox.com"<img src="https://thenutribox.com/assets/vegan-snacks.png" alt="Vegan snacks"></img></a>
  .row
    .span12
      =render('shared/related_blog_posts')
    .span8
      =options_panel do
        =link_if_can("Edit page", [:edit, @page])
        =link_if_can("Delete page", [:destroy, @page], :confirm => "Are you sure?") unless @page.slug.present?
        =link_if_can("New page", [:new, Page.new])