%h1.page-header=title('Admin')
.row
  .span6
    %h2.mb-1 Subscriptions
    %ul.unstyled
      %li=link_to("Manage subscriptions", list_orders_path)
      
    %h2.mt-3.mb-1 Discount codes
    %ul.unstyled
      %li=link_to("Manage discount codes", discount_codes_path)
 
    %h2.mt-3.mb-1 Text snippets
    %ul.unstyled
      %li=link_to("Manage text snippets", snippets_path)
      %li=link_to("Manage box month intro snippets", box_month_intro_path)
      %li=link_to("Change home page image", home_page_admin_path)
    
    %h2.mt-3.mb-1 Archive
    %ul.unstyled
      %li=link_to("Manage product list", products_path)
    
  
    %h2.mt-3.mb-1 Survey
    %ul.unstyled
      %li=link_to("Manage surveys", surveys_path)
      
    %h2.mt-3.mb-1 Corporate box enquiries
    %ul.unstyled
      %li=link_to("List all", enquiries_path)

    %h2.mt-3.mb-1 Available order options
    %ul.unstyled
      %li=link_to("Manage order options", available_order_options_path)    

  .span6
    %h2.mb-1 Shipping lists
    -if ShippingDate.count.zero?
      %ul.unstyled
        %li No shipping dates yet
    -else    
      %ul.unstyled
        -ShippingDate.order("created_at DESC").each do |shipping_date|
          %li
            =link_to(shipping_date) do
              =shipping_date.date.stamp("31/12/2012 - Monday 11th January")
            -unless shipping_date.downloaded?
              %i.icon-asterisk
      %i.icon-asterisk
      Not yet downloaded

    %h2.mt-3.mb-1 Manage related articles
    %ul.unstyled
      %li=link_to("Blog post related articles", blog_post_related_articles_path)  