.container
.home-header
  .container
    =render ("layouts/header")
  .container
    .row
      .site-intro.span5
        %h1.home-tagline Healthy Snacking Made Easier
        %p.site-intro-text Deliciously nutritious snacks delivered to your door, monthly. From under £11 per month
        .home-ctas
          =link_to "Get a box", "#", :class=>"get-box-btn btn btn-primary btn-homepage-cta"
          =link_to "or give a box", "#", :class=>"give-box-btn btn btn-homepage-cta"
      .big-box-image.span7
.home-strip-1
  .container
    .row
      #how-it-works-summary.home-strip-box.span6
        .well
          %h2.home-strip-title
            =link_to "How it works", "#"
      #blog-summary.home-strip-box.span6
        .well
          %h2.home-strip-title
            =link_to "Latest from the blog", "#"
.home-strip-2
  .container
    .row
        
        