.container
.home-header
  .container
    =render ("layouts/header")
  .container
    .row
      .site-intro.span5
        %h1.home-tagline Healthy Snacking Made Easier
        %p.site-intro-text Deliciously nutritious snacks delivered to your door, monthly. From under £11 per month
        .home-ctas
          =link_to "Get a box", "#", :class=>"get-box-btn btn btn-primary btn-homepage-cta"
          =link_to "or give a box", "#", :class=>"give-box-btn btn btn-homepage-cta"
      .big-box-image.span7
.home-strip-1
  .container
    .row
      .span6
        .row
          #how-it-works-summary.home-strip-box.span6
            .well
              %h2.home-strip-title
                =link_to "How it works", "#"
                =image_tag "illustration_here_home.png", :class=>"temp-illustration"
          #featured-product.home-strip-box.span6
            .well
              %h2.home-strip-title
                =link_to "Featured product", "#"
              =image_tag "featured-product.jpg"
                
      #blog-summary.home-strip-box.span6
        .well
          %h2.home-strip-title
            =link_to "Latest from the blog", "#"            
          .latest-blog-image.mb-2  
            =link_to "/blog" do
              =image_tag "latest_blog_image.jpg"
          %p.blog-summary-intro.mb-1
            Nothing could be worse then when you think that you are making a healthy food choice only to uncover that it really isn’t healthy.  In other words, your healthy food choice backfires.   The latest “good news” from a study conducted by the USDA Economic Research Service (ERS) about the decreased levels of trans fats in food products can feed into this potential backfiring.
          =link_to "Read more", "/blog", :class=>"latest-blog-read-more"
=render "layouts/stay_in_touch"