-content_for :head do
  :javascript
    $(document).ready(function() {
      $('#order_status').change(function() {
        $('.status-warning').show();
      });
    });

%h1=title("Edit order")
=semantic_form_for @order, :html => {:class => "form-horizontal"} do |form|
  =form.inputs do
    =form.input :editing_completed_order, :as => :hidden, :input_html => {:value => true}
    %h4 Details
    -if current_user.admin?
      =form.input :user, :as => :string, :label => 'Customer', :input_html => { :disabled => true }
      =form.input :theme, :collection => AvailableOrderOption.order(:position), :as => :check_boxes
    -else
      =form.input :theme, :as => :string, :input_html => { :disabled => true }
    =form.input :frequency, :collection => Order::FREQUENCIES, :include_blank => false
    =form.input :comment, :input_html => { :class => 'input-xxlarge'}
    -if current_user.admin?
      %h4 Status
      =form.input :status, :collection => Order.statuses.collect{|s| [s.titleize,s]}, :include_blank => false
        
    %h4 Delivery address
    =form.input :delivery_name, :label => "Name", :placeholder => "e.g. John Smith"
    =form.input :delivery_address1, :label => "Address"
    =form.input :delivery_address2, :label => false
    =form.input :delivery_city, :label => "City"
    =form.input :delivery_postcode, :label => "Postcode", :input_html => {:class => "input-small"}
  =form.buttons do
    =form.commit_button "Save"
    