%h1 Orders
%table.table.table-striped
  %thead
    %tr
      %th No.
      %th Customer
      %th Date
      %th Product
      %th Amount
  %tbody
    -@orders.each do |order|
      %tr
        %td.span1=order.id
        %td=link_to_self(order.user)
        %td=order.created_at.to_s(:date)
        %td=order.product
        %td="£#{order.amount}"
