-content_for :head do
  :javascript
    $(document).ready(function() {
      $('a.popover-link').popover({html:true,placement:'left',trigger:'manual',animation:false});
      $('a.popover-link').on('click', function (e) {
        $('a.popover-link').popover('hide');
        $(this).popover('show');
      })
    });
%h1 Subscriptions
%table.table.table-striped
  %thead
    %tr
      %th No.
      %th Customer
      %th Product
      %th Order date
      %th Status
      %th Actions
  %tbody
    -@orders.each do |order|
      %tr
        %td.span1=order.id
        %td
          %a.popover-link{:title => order.user.full_name, :'data-content' => "<p>#{mail_to(order.user.email)}</p><p>#{order.delivery_address('<br/>')}</p>".html_safe}
            ="#{order.user.last_name}, #{order.user.first_name}"
          =link_to 'edit customer', edit_user_path(order.user, :return_to => list_orders_path), :class => 'pull-right'
        %td
          =order.product
          \-
          =pluralize(order.number_of_deliveries_paid_for_each_billing, 'box')
          paid for each billing
        %td=order.created_at.to_s(:date)
        %td
          %span.badge{:class => order.status_class("badge-")}
            =order.status.to_s.titleize
        %td=link_to("Edit", edit_order_path(order))
