%h1 Subscriptions
%table.table.table-striped
  %thead
    %tr
      %th No.
      %th Customer
      %th Product
      %th Order date
      %th Status
      %th Actions
  %tbody
    -@orders.each do |order|
      %tr
        %td.span1=order.id
        %td="#{order.user.last_name}, #{order.user.first_name}"
        %td=order.product
        %td=order.created_at.to_s(:date)
        %td
          %span.badge{:class => order.status_class("badge-")}
            =order.status.titleize
        %td=link_to("Edit", edit_order_path(order))
