.span8.offset2
  %h2="Thanks for your order #{@order.user.first_name}!"
  .row
    .span8
      %p.lead
        Your first box will be shipped on
        =@order.next_shipping_date.stamp("Monday 1st September")
        and should be with you by
        =@order.next_delivery_date.stamp("Monday 1st September.")
      =link_to("Manage my orders", orders_path, :class => "btn btn-primary btn-large")