=content_for(:head) do
  :javascript
    $(document).ready(function() {
      YmCms.Page.Form.init();  
    });
%hr
=semantic_form_for(@page, :multipart => true) do |form|
  =#render(['pages/tabs/details', 'pages/tabs/related_link_tab'], :form => form)
  =@page.parent.try(:slug) == "blog" || @page.view_name == "special_diets" ? tabs('details',['related_links', "Related Pages"], :form => form) : tabs('details', :form => form)
  =form.buttons do
    =form.commit_button "Save", :button_html => {:class => "pull-right"}