-content_for :head do
  :javascript
    $(document).ready(function() {
      $("#referral_code").click(function() {
         $(this).select();
      });  
    });
.row
  .span6
    %h1=title "My referrals"
    -if @referrals.blank?
      %p.lead You haven't referred anyone yet.
    %p.lead=snippet_text(:referral_intro_text, "<p class='lead'>Share your referral code and get free snacks!</p><p>For each person who signs up for The Nutribox with your code, we'll pop an extra snack into your box.</p>").html_safe
      
    %table.table.table-striped.mt-2
      %tbody
        -@referrals.each do |referral|
          %tr
            %td=referral.referree
            %td
              =time_ago_in_words(referral.created_at)
              ago
  .span5.offset1
    .thumbnail
      .caption
        %h2 Share your referral link
        %ul.unstyled
          %li
            =text_field_tag(:code, new_referral_url(:code => current_user.referral_code), :readonly => true, :id => "referral_code", :class => 'span4')
        %ul.unstyled
          %li
            =link_to_with_icon 'Twitter', "http://twitter.com/share?url=http://thenutribox.com/#{current_user.referral_code}&related=thenutribox&text=The%20Nutribox", :class => 'btn share-btn share-btn-twitter', :target => '_blank', :icon => 'twitter'
          %li
            =link_to_with_icon 'Facebook', "https://www.facebook.com/sharer/sharer.php?s=100&p[title]=the+nutribox&p[summary]=%20Check%20out%20The%20Nutribox%20at%20http://thenutribox.com/#{current_user.referral_code}.%20Healthy%20snacks%20delivered.&p[url]=http://thenutribox.com/#{current_user.referral_code}&p[images][0]=https://www.thenutribox.com/assets/logo.png", :class=>"btn share-btn share-btn-facebook", :target => '_blank', :icon => 'facebook'

        .clearfix