-content_for :head do
  :coffeescript
    $ ->
      Redactor.init()

%h2="Edit #{@snippet.slug.titleize}"

=semantic_form_for(@snippet, :as => :snippet, :url => snippet_path) do |form|
  =form.inputs do
    =form.input :text, :label => false, :input_html => {:rows => 20, :class => "span6", :placeholder => "Add a snippet..."}, :as => @snippet.slug == 'home_page_more_text' ? :redactor : :text
  =form.buttons do
    =form.commit_button "Save"