/* @override http://localhost:3000/assets/application.css?body=1 */

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope. 
 *= require bootstrap
 *= require formtastic-bootstrap 
 *= require ym_core 
 *= require redactor
 *= require ym_cms 
 *= require font-awesome
 *= require sticky-footer 
 *= require_self
 *= require mobile
 
*/

/*========== CSS3 magic  ==========*/

@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}

@-webkit-keyframes fade_in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.fade_in {
  -webkit-animation-name: reset, fade_in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;

}

.fade_in.fade_one {-webkit-animation-delay: 0, 0;}
.fade_in.fade_two {-webkit-animation-delay: 0, 0.3s;}
.fade_in.fade_three {-webkit-animation-delay: 0, 0.6s;}
.fade_in.fade_four {-webkit-animation-delay: 0, 0.9s;}
.fade_in.fade_five {-webkit-animation-delay: 0, 1.2s;}
.fade_in.fade_six {-webkit-animation-delay: 0, 1.5s;}

/* ========== Fonts ========== */
body,
#box_step h4 .saving{
	font-family: 'Museo Sans W01 300', arial, sans-serif;
	color: #666666;
	font-size: 15px;
	line-height: 1.45;
}
h1,
h2,
h3,
.nav-link,
.btn-homepage-cta,
.social-media-btn {
  font-family: 'Clarendon BT W01 Heavy', arial, sans-serif;
  font-weight: normal;
  color: #4a8270;
}
h2, h3 {
  color: #755436;
  	font-size: 27px;
	line-height: 1;
	margin: 0 0 20px;
}
th, h4, h5, h6, strong, .header-alert a.close  {
	color: #333;
	font-family: 'Museo Sans W01 700', arial, sans-serif;
}

/* ========== General (bootstrap overrived etc) ========== */
body {
  background: #fff;
  background: #fff url(/assets/paper_texture_body.jpg) repeat-x top center;
}
#home.logged_out {
   background: #c69f7a url(/assets/bg_card.jpg) fixed;
}
.navbar-inner {
  background: #fff;

}
.navbar-inverse .navbar-inner {
  background: #755436;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background-color: rgba(0,0,0,0.04);
}
a {
  color: #99b936;
}
a:hover {
  color: #4b8472;
}
.btn {
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  background:#755436;
  text-shadow: none;
  color: #fff;
  font-weight: 400;
  
  font-size: 16px;
  padding: 10px 15px;
  
  -moz-box-shadow:0 0px 5px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow:0 0px 5px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.1);
  box-shadow:0 0px 5px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.1);
  
  
  border: none;
}
.btn.disabled {
  background: #a48e7b;
  color: #fff;
}
.btn:hover, .btn-group.open .btn.dropdown-toggle, .btn-group .btn.dropdown-toggle {
  background: #755436;
  color: #fff;
}
.btn-primary, .btn-primary:hover, .btn-group > .btn-primary + .dropdown-toggle {
  background-color: #99b936;
}
.btn-primary.disabled {
  background: #bdd27d;
}
.btn-info, .btn-info:hover {
  background-color: #4a8270;
} 
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  padding: 9px 10px;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color:#99b936;
  
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(135, 170, 32, 0.2);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(135, 170, 32, 0.2);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(135, 170, 32, 0.2);
  
}

.well {
  background: #fff;
  border: none;
  
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.no-shadow, 
#top-nav .active a,
#top-navbar,
.give-box-btn {
  	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;

}

.header-alert {
  background:#9abe1b;
  color: #fff;
  float: left;
  width: 100%;
  
  -moz-box-shadow:inset 0 -2px 17px rgba(0,0,0,0.1), inset 0 -2px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow:inset 0 -2px 17px rgba(0,0,0,0.1), inset 0 -2px 1px rgba(0,0,0,0.1);
  box-shadow:inset 0 -2px 17px rgba(0,0,0,0.1), inset 0 -2px 1px rgba(0,0,0,0.1);
  
}
.header-alert .alert {
  background: none;
  border: none;
  color: #fff;
  padding: 20px 0;
  margin: 0;
  font-size: 22px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.header-alert a.close {
  font-size: 30px;
  margin: 2px 0 0;
}


/* ========== Holding page stuff ========== */
.page-header {
  border-color: rgba(0,0,0,0.2);
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: rgba(0,0,0,0.02);
}
.paper-top {
  background: #fff url(/assets/paper_texture.jpg);
  padding: 60px 0;
  margin: 0;
  position: relative;
  z-index: 6;

  -webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.7);
  -moz-box-shadow:0px 0px 20px rgba(0,0,0,0.7);  
  box-shadow:0px 0px 20px rgba(0,0,0,0.7);
}

.healthy-snacking-made-easier {
	min-height: 242px;
	position: relative;
	background: url(/assets/healthy-snacking-made-easier.png) no-repeat 0 0; 
}
.healthy-snacking-made-easier h1 {
  display: none;
}
.holding-intro {
  font-size: 16px;
  line-height: 1.45;
  width: 380px;
  display: block;
  color: #666;
  float: left;

  margin: 190px 0 0 256px;
}

#read-more-wrapper {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;

}

.holding-read-more {
  float: left;
  clear: both;
  background: #fff;
  padding: 30px;

  
  margin: 40px 40px 20px;
  
  box-shadow:1px 1px 1px rgba(0,0,0,0.1), 1px 1px 20px rgba(0,0,0,0.2), -1px -1px 1px rgba(0,0,0,0.06);
  -webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.1), 1px 1px 20px rgba(0,0,0,0.2), -1px -1px 1px rgba(0,0,0,0.06);
  -moz-box-shadow:1px 1px 1px rgba(0,0,0,0.1), 1px 1px 20px rgba(0,0,0,0.2), -1px -1px 1px rgba(0,0,0,0.06);
}

.holding-read-more a {
  float: right;
}

.holding-read-more a.sign-up-arrow {
  position: absolute;
  bottom: 30px;
  background: url(/assets/sign_up_below.png) no-repeat 0 0;
  color: #fff;
  text-indent: -9000em;
  padding: 0px 10px;
  float: left;
  width: 140px;
  height: 30px;
  font-weight: normal;
  left: 70px;
  font-size: 16px;
  font-family: museo500;
}

.holding-read-more p {
	color: #666;
	font-size: 16px;
	line-height: 1.45;
	margin: 0 0 20px;
}
#launching_in_wrapper {
  position: absolute;
  top: -40px;
  right: -120px;
  z-index: 4;
}
#launching_in_wrapper p {
  display: none;
}
#launch-countdown {
  position: absolute;
  top: 0px;
  right: 0;
  background: url(/assets/launching_in.png) no-repeat 0 0;
  color: #fff;
  width: 130px;
  height: 130px;
  padding: 10px;
}
#launch-countdown span {
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 30px;
  line-height: 26px;
  display: block;
  width: 70px;
  text-align: center;
  font-family: Museo500, arial, sans-serif;
}
.snacks {
  padding-top: 160px;
  height: 300px;
  position: relative;
  z-index: 5;
  background: url(/assets/snacks.png) no-repeat center 0px;
}

h2.coming-soon-title {
	background: #99b936;
	color: #fff;
	float: left;
	width: 420px;
	height: 45px;
	margin: 0 0 0 20px;
	padding: 15px 0 0;
	text-align: center;
	
	-moz-box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);

  
}

p.email-signup-intro {
	font-weight: bold;
	color: #5e3f23;
	text-align: center;
	margin: 0 0 20px;
  
}
.lower-box {
background: #d4bb9e; /* Old browsers */
background: -moz-linear-gradient(top,  #d4bb9e 0%, #c6a57f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4bb9e), color-stop(100%,#c6a57f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d4bb9e 0%,#c6a57f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d4bb9e 0%,#c6a57f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d4bb9e 0%,#c6a57f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d4bb9e 0%,#c6a57f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4bb9e', endColorstr='#c6a57f',GradientType=0 ); /* IE6-9 */


float:left;
width: 100%;
margin: 0 0 20px;

-moz-box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
}

.inner-padding {
  padding: 20px;
}

#email-signup-input, .email-signup-button {
	border: none;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0; 
	 
}

input#email-signup-input {
  width: 283px;
  padding: 15px;
  color: #333;
  margin: 0;
}

.email-signup-button,
.email-signup-button:hover{
  background: #5e3f23;
  color: #fff;
  text-shadow: none;
  font-weight: bold;
  padding: 15px 20px;
  margin: 0 0 0 10px;
}

.follow-us-box {
  height: 210px;
}
.follow-us-title {
  	background: url(/assets/follow-us-title.png) no-repeat center -5px;
	color: #fff;
	text-indent: -9000em;
	float: left;
	width: 100%;
	height: 50px;
	margin: 0;
	text-align: center;
}

.social-media-link {
	display: block;
	float: left;
	clear: both;
	background: url(/assets/facebook-link.png) 0 0 no-repeat;
	width: 240px;
	text-indent: -9000em;
	height: 50px;

	margin: 0 0 15px 10px;
	text-align: center;
	
	
		-moz-box-shadow:  0px 1px 6px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
box-shadow:  0px 1px 6px rgba(0,0,0,0.2);

  
}

a.twitter-link {
  background-image: url(/assets/twitter-link.png);
}



/* ========== homepage ========== */
.home-header {
  background: #fff url(/assets/header_bg.jpg) top center;
  
  padding: 0px 0 50px;
  margin: 0;
  
  -webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.3);
  -moz-box-shadow:1px 1px 10px rgba(0,0,0,0.3);
  box-shadow:1px 1px 10px rgba(0,0,0,0.3);  
}
#top-navbar {
  border: none;
  position: relative;
  background: none;
	padding: 0;
}
.header-navbar-fixed {
	position: fixed;
	top: 0;
	left: 0;
	float: left;
	width: 100%;
	

	background: #fff;
	z-index: 100;
  
}
#top-navbar .brand {
  padding: 0;
}
#top-nav {
  margin:60px 0 0;
  position: relative;
  z-index: 90;
  float: right;
  padding: 0 10px;
  
  border-radius:6px;
  
  background: #fff;
  box-shadow:0 0px 5px rgba(0,0,0,0.2)
}
#top-nav a.nav-link {
  font-size: 22px;
  color: #999;
  padding: 20px 18px;]
  text-shadow: none;
}
#top-nav li a.nav-my-account {
  font-size: 17px;
}
#top-nav .active a {
	background: none;
	color: #99b936;
}
#top-subnav{
  float:right;
  clear:right;
  background:#fff;
  background:rgba(255,255,255,0.9);
  z-index:80;
  margin:-10px 35px 0px 0px;
  box-shadow:0 0px 5px rgba(0,0,0,0.2);
  border-radius: 6px;
  padding:12px 8px 0px;
}
#top-subnav li a{
  padding:6px 12px;
}
#my-account {
  left: auto;
  z-index: 10;
}

#my-account a.dropdown-toggle {
  text-shadow: none;
  padding: 24px 10px 20px;
}
#my-account .open a.dropdown-toggle {
  color: #99b936;
  background: none;
}
#my-account a.dropdown-toggle b.caret {
	margin-top: 5px;  
}
#site-logo {
  margin: 10px 0 10px 30px;
  padding: 0;
  float: left;
}
.home-header .row {
  position: relative;
}
#site-logo a {
  background: url(/assets/logo.png);
  width: 177px;
  height: 211px;
  display: block;
  text-indent: -9000em;
}
.big-box-image {
  background: url(/assets/box.png) 0 0 no-repeat;
  height: 600px;
  width: 600px;
  position: absolute;
  z-index: 2;
  top: -250px;
  right: -60px;
}
.home-tagline {
  font-size: 40px;
  line-height: 1.04;
  margin: 0 0 20px;
}
.site-intro-text {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.53;
  margin: 0 20px 20px 0;
}
.home-strip-1 {
  padding: 40px 0;
  background: #c69f7a url(/assets/bg_card.jpg) fixed;
  
    
  -webkit-box-shadow:inset 1px 1px 10px rgba(0,0,0,0.3);
  -moz-box-shadow:inset 1px 1px 10px rgba(0,0,0,0.3);
  box-shadow:inset 1px 1px 10px rgba(0,0,0,0.3);  
}
.home-strip-2 {
background: #866b53 url(/assets/home-strip-2.png) center;
  padding: 40px 0;
  
    -webkit-box-shadow:inset 1px 1px 10px rgba(0,0,0,0.3);
  -moz-box-shadow:inset 1px 1px 10px rgba(0,0,0,0.3);
  box-shadow:inset 1px -2px 10px rgba(0,0,0,0.3);  
}

.home-strip-box {
  min-height: 230px;
  background: #fff;
  
  border-radius:5px;
}
#blog-summary {
  min-height: 380px;
  
  -webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.3); 
  box-shadow:0px 0px 10px rgba(0,0,0,0.3);
}
#how-it-works-summary {
    margin-bottom: 20px;
    background: rgba(255,255,255,0.1);
}
.home-strip-box .well {	
  	margin: 0;
	background: none;
}

#how-it-works-summary .well {
  
}

img.temp-illustration {
  
  float: right;
  height: 170px;
  margin: 0 20px 0 0;
}

.home-ctas {
  margin-right: -30px;
  float: left;
}
.btn-homepage-cta {
	font-size: 26px;
	margin: 0;
	padding: 20px;
}
.give-box-btn, .give-box-btn:hover {
  background: url(/assets/give-box-btn.png) no-repeat;
  color: #99b936;
  width: 172px;
  margin: 0 0 0 20px;
}
.home-strip-title {

}
.home-strip-title a {
  color: #755436;
}
#how-it-works-summary .home-strip-title a {
  color: #fff;
}
#facebook-box {
	background: #fff;
  background: rgba(255,255,255,0.9);
    position: relative;
    
    -moz-box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
}
.facebook-box-wrapper {
  width: 380px;
  height: 229px;
  margin: 30px 25px 27px;
  overflow: hidden;
}
.facebook-box-wrapper iframe {
  float: left;
  margin: -37px 0 0 -11px;
}

.social-media-btn {
  background: #56bdd7;
  float: left;
  width: 220px;
  margin: 0px 0 0;
  color: #fff;
  font-size: 18px;
  padding: 15px 0;
  text-align: center;
  position: relative;
  
  box-shadow:0px 1px 6px rgba(0,0,0,0.2)
}
.social-media-btn:hover {
  text-decoration: none;
  color: #fff;
}
.social-media-btn [class*="icon"] {
	position: absolute;
	top: 18px;
	font-size: 28px;
	left: 25px;
}

a.twitter-btn {
  margin-right: 20px;
}
a.pinterest-btn {
  background: #e15626;
}
a.facebook-btn {
  background: #304f8e;
  float: right;
  position: absolute;
  top: -10px;
  margin: 0;
  right: 20px;
}

#home.logged_out .footer-wrapper {
	display: none;
}
.footer-wrapper {
  background: #5F4B3B;
}

.footer {
  border: none;
  position: relative;
}
.footer-links {
  
}
.footer-links li {
	float: left;
}
.footer-links a {
  margin: 0 20px  0 0;
}

#siteby {
	position: absolute;
	top: 20px;
	right: 0;
	background: url(/assets/yoomee_logo.png);
	width: 79px;
	height: 31px;
	text-indent: -9000em;
	opacity: 0.4;
  
}
#siteby:hover {
  opacity: 1;
}





/* ========== how it works box ========== */

.how-it-works-well {
  background: #f5f5f5;
  height: 400px ;
  margin-bottom: 20px;
}

img.temp-illustration-inside {
	margin-bottom: 20px;
  
}

.how-it-works-desc {
  display: block;
  height: 90px;
}
.how-it-works-cta {
	width: 100%;
	padding: 10px 0;
	margin: 20px 0 0;
  
}
.coming_very_soon {
  width: 100%;
  height: 600px;
  background: url(/assets/coming_very_soon.png) no-repeat top center;
}


/* ========== Blog ========== */
.blog_message {
	
	width: 432px;
	height: 188px;
	background: url(/assets/blog_message.png);
	position: absolute;
	top: 140px;
	right: 40px;
  
}





/*========== Sign up ==========*/
form.order .form-actions{
  padding-left:20px;
}
form.order abbr{
  display:none;
}

ul.box-options {
  float:left;
  clear:both;
  width:100%;
  margin:5px 0px -10px;
}
ul.box-options li {
  border-top: 1px solid #ccc;
  float: left;
  clear: both;
  width: 100%;
  padding:8px 0px;
}
#box_step .thumbnails .btn{
  padding:5px 7px;
  margin-top:5px;
}
#box_step .thumbnails h4{
  margin:0px;
}
#box_step .thumbnails .saving{
  font-weight:normal;
  font-style:italic;
}
#box_step .thumbnails .saving .percentage{
  font-size:13px;
}
#box_step .thumbnails .active .btn{
  background-color: #99b936;
}

#box_step .thumbnails input {
  display:none;
}
#box_step .box-photo{
  width:80%;
  margin:0px 10%;
}
#register_step .accordion-group {
  border:none;
}

.form-horizontal #billing_step .control-label{
  width:80px;
}
.form-horizontal #billing_step .controls{
  margin-left:100px;
}

#order_credit_card_attributes_month_input {
  float:left;
}

#order_credit_card_attributes_year_input {
  float:left;  
}
.form-horizontal #order_credit_card_attributes_year_input .control-label {
  width:15px;
  font-size:25px;
  line-height:25px;
}
.form-horizontal #order_credit_card_attributes_year_input .controls{
  margin-left:20px;
}

