/* @override http://localhost:3000/assets/application.css?body=1 */

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope. 
 *= require bootstrap
 *= require formtastic-bootstrap 
 *= require ym_core 
 *= require redactor
 *= require ym_cms 
 *= require font-awesome
 *= require sticky-footer 
 *= require_self
 *= require mobile
 *= require chosen
 
*/

/*========== CSS3 magic  ==========*/

@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}

@-webkit-keyframes fade_in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.fade_in {
  -webkit-animation-name: reset, fade_in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;

}

.fade_in.fade_one {-webkit-animation-delay: 0, 0;}
.fade_in.fade_two {-webkit-animation-delay: 0, 0.3s;}
.fade_in.fade_three {-webkit-animation-delay: 0, 0.6s;}
.fade_in.fade_four {-webkit-animation-delay: 0, 0.9s;}
.fade_in.fade_five {-webkit-animation-delay: 0, 1.2s;}
.fade_in.fade_six {-webkit-animation-delay: 0, 1.5s;}

.slideshow-my-nutribox, .slideshow-item{
  height:310px;
  width:460px;
  position:relative;
}

.slideshow-item img{
  position:absolute;
  z-index:0;  
  left: 0;
}

.slideshow-item p{
  background-color:#fff;
  position:absolute;
  bottom:0;
  left: 0;
  right:0;
  padding: 3px;
  font-size: 14px;
  text-align: center;
  -webkit-margin-after:0;
}

.slideshow-item p span{
  font-family: 'Museo Sans W01 700', arial, sans-serif;
}

.slideshow-item p.larger-text{
  font-size:16px;
}

/* ========== Fonts ========== */

@font-face {
    font-family: 'kg_small_town_southern_girlRg';
    src: url('/assets/kgsmalltownsoutherngirl-webfont.eot');
    src: url('/assets/kgsmalltownsoutherngirl-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/kgsmalltownsoutherngirl-webfont.woff') format('woff'),
         url('/assets/kgsmalltownsoutherngirl-webfont.ttf') format('truetype'),
         url('/assets/kgsmalltownsoutherngirl-webfont.svg#kg_small_town_southern_girlRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body,
#box_step h4 .saving{
	font-family: 'Museo Sans W01 300', arial, sans-serif;
	color: #666666;
	font-size: 15px;
	line-height: 1.45;
}
h1,
h2,
h3,
.nav-link,
.btn-homepage-cta,
.social-media-btn,
.order-btn,
.how_it_works_link,
.yum-yuck 
 {
  font-family: 'Clarendon BT W01 Heavy', arial, sans-serif;
  font-weight: normal;
  color: #4a8270;
}
h2, h3 {
  color: #755436;
  	font-size: 27px;
	line-height: 1.1;
	margin: 0 0 20px;
}
th, h4, h5, h6, strong, .header-alert a.close,
p.email-signup-intro,
p b,
#my-account a.dropdown-toggle,
#login a,
.archive-nav-pills {
	color: #333;
	font-family: 'Museo Sans W01 700', arial, sans-serif;
}

.sketch-notice {
  position: relative;
  z-index: 2;
  color: #92113a;
}
.sketch-notice-text {
  font-family: kg_small_town_southern_girlRg;
  font-size: 25px;
  margin-left: 40px;
}
.sketch-notice span {
  display: block;
  position: absolute;

  
}
.sketch-notice-left {
	bottom: -16px;
	left: 10px;
  width: 32px;
  height: 32px;
  background: url(/assets/sketch-notice-left.png) no-repeat 0 0;
}
.sketch-notice-right {
	bottom: -20px;
	right: 60px;
  width: 32px;
  height: 32px;
  background: url(/assets/sketch-notice-right.png) no-repeat 0 0;
}


/* ========== General (bootstrap overrived etc) ========== */
body {
  background: #fff;
  background: #fff url(/assets/paper_texture_body.jpg) repeat-x top center;
}

#home.logged_out {
   background: #c69f7a url(/assets/bg_card.jpg) fixed;
}
.navbar-inner {
  background: #fff;

}
.navbar-inverse .navbar-inner {
  background: #755436;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background-color: rgba(0,0,0,0.04);
}

.social-links li{
  display:inline;
}
a {
  color: #99b936;
}
a:hover {
  color: #4b8472;
}
.btn {
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  background:#755436;
  text-shadow: none;
  color: #fff;
  font-weight: 400;
  
  font-size: 16px;
  padding: 10px 15px;
  
  -moz-box-shadow:0 0px 5px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow:0 0px 5px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.1);
  box-shadow:0 0px 5px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.1);
  
  
  border: none;
}
.btn.disabled {
  background: #a48e7b;
  color: #fff;
}
.btn:hover, .btn-group.open .btn.dropdown-toggle, .btn-group .btn.dropdown-toggle {
  background: #755436;
  color: #fff;
}
.btn-primary, .btn-primary:hover, .btn-group > .btn-primary + .dropdown-toggle {
  background-color: #99b936;
}
.btn-primary.disabled {
  background: #bdd27d;
}
.btn-info, .btn-info:hover {
  background-color: #4a8270;
} 
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  padding: 9px 10px;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color:#99b936;
  
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(135, 170, 32, 0.2);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(135, 170, 32, 0.2);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(135, 170, 32, 0.2);
  
}
.input {
    border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
}
.well {
  background: #fff;
  border: none;
  
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.no-shadow, 
#top-nav .active a,
#top-navbar,
.give-box-btn {
  	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;

}

.header-alert {
  background:#4a8270;
  color: #fff;
  float: left;
  width: 100%;
  
  -moz-box-shadow:inset 0 -2px 17px rgba(0,0,0,0.1), inset 0 -2px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow:inset 0 -2px 17px rgba(0,0,0,0.1), inset 0 -2px 1px rgba(0,0,0,0.1);
  box-shadow:inset 0 -2px 17px rgba(0,0,0,0.1), inset 0 -2px 1px rgba(0,0,0,0.1);
  
}
.header-alert .alert {
  background: none;
  border: none;
  color: #fff;
  padding: 20px 0;
  margin: 0;
  font-size: 22px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.header-alert a.close {
  font-size: 30px;
  margin: 2px 0 0;
}
.options_panel {
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.line-through{
  text-decoration:line-through;
  color:#bbb;
}

/* ========== Holding page stuff ========== */
.page-header {
  border-color: rgba(0,0,0,0.2);
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: rgba(0,0,0,0.02);
}
.paper-top {
  background: #fff url(/assets/paper_texture.jpg);
  padding: 60px 0;
  margin: 0;
  position: relative;
  z-index: 6;

  -webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.7);
  -moz-box-shadow:0px 0px 20px rgba(0,0,0,0.7);  
  box-shadow:0px 0px 20px rgba(0,0,0,0.7);
}

.healthy-snacking-made-easier {
	min-height: 242px;
	position: relative;
	background: url(/assets/healthy-snacking-made-easier.png) no-repeat 0 0; 
}
.healthy-snacking-made-easier h1 {
  display: none;
}
.holding-intro {
  font-size: 16px;
  line-height: 1.45;
  width: 380px;
  display: block;
  color: #666;
  float: left;

  margin: 190px 0 0 256px;
}

#read-more-wrapper {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;

}

.holding-read-more {
  float: left;
  clear: both;
  background: #fff;
  padding: 30px;

  
  margin: 40px 40px 20px;
  
  box-shadow:1px 1px 1px rgba(0,0,0,0.1), 1px 1px 20px rgba(0,0,0,0.2), -1px -1px 1px rgba(0,0,0,0.06);
  -webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.1), 1px 1px 20px rgba(0,0,0,0.2), -1px -1px 1px rgba(0,0,0,0.06);
  -moz-box-shadow:1px 1px 1px rgba(0,0,0,0.1), 1px 1px 20px rgba(0,0,0,0.2), -1px -1px 1px rgba(0,0,0,0.06);
}

.holding-read-more a {
  float: right;
}

.holding-read-more a.sign-up-arrow {
  position: absolute;
  bottom: 30px;
  background: url(/assets/sign_up_below.png) no-repeat 0 0;
  color: #fff;
  text-indent: -9000em;
  padding: 0px 10px;
  float: left;
  width: 140px;
  height: 30px;
  font-weight: normal;
  left: 70px;
  font-size: 16px;
  font-family: museo500;
}

.holding-read-more p {
	color: #666;
	font-size: 16px;
	line-height: 1.45;
	margin: 0 0 20px;
}
#launching_in_wrapper {
  position: absolute;
  top: -40px;
  right: -120px;
  z-index: 4;
}
#launching_in_wrapper p {
  display: none;
}
#launch-countdown {
  position: absolute;
  top: 0px;
  right: 0;
  background: url(/assets/launching_in.png) no-repeat 0 0;
  color: #fff;
  width: 130px;
  height: 130px;
  padding: 10px;
}
#launch-countdown span {
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 30px;
  line-height: 26px;
  display: block;
  width: 70px;
  text-align: center;
  font-family: Museo500, arial, sans-serif;
}
.snacks {
  padding-top: 160px;
  height: 300px;
  position: relative;
  z-index: 5;
  background: url(/assets/snacks.png) no-repeat center 0px;
}

h2.coming-soon-title {
	background: #99b936;
	color: #fff;
	float: left;
	width: 420px;
	height: 45px;
	margin: 0 0 0 20px;
	padding: 15px 0 0;
	text-align: center;
	
	-moz-box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);

  
}

p.email-signup-intro {
	color: #5e3f23;
	text-align: center;
	margin: 0 0 20px;
  
}
.lower-box {
background: #d4bb9e; /* Old browsers */
background: -moz-linear-gradient(top,  #d4bb9e 0%, #c6a57f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4bb9e), color-stop(100%,#c6a57f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d4bb9e 0%,#c6a57f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d4bb9e 0%,#c6a57f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d4bb9e 0%,#c6a57f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d4bb9e 0%,#c6a57f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4bb9e', endColorstr='#c6a57f',GradientType=0 ); /* IE6-9 */


float:left;
width: 100%;
margin: 0 0 20px;

-moz-box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
}

.inner-padding {
  padding: 20px;
}

#email-signup-input, .email-signup-button {
	border: none;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0; 
	 
}

input#email-signup-input {
  width: 283px;
  padding: 15px;
  color: #333;
  margin: 0;
}

.email-signup-button,
.email-signup-button:hover{
  background: #5e3f23;
  color: #fff;
  text-shadow: none;
  font-weight: bold;
  padding: 15px 17px;
  margin: 0 0 0 10px;
}

.follow-us-box {
  height: 210px;
}
.follow-us-title {
  	background: url(/assets/follow-us-title.png) no-repeat center -5px;
	color: #fff;
	text-indent: -9000em;
	float: left;
	width: 100%;
	height: 50px;
	margin: 0;
	text-align: center;
}

.social-media-link {
	display: block;
	float: left;
	clear: both;
	background: url(/assets/facebook-link.png) 0 0 no-repeat;
	width: 240px;
	text-indent: -9000em;
	height: 50px;

	margin: 0 0 15px 10px;
	text-align: center;
	
	
		-moz-box-shadow:  0px 1px 6px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
box-shadow:  0px 1px 6px rgba(0,0,0,0.2);

  
}

a.twitter-link {
  background-image: url(/assets/twitter-link.png);
}



/* ========== homepage ========== */
.home-header {
  background: #fff url(/assets/header_bg.jpg) top center;
  
  padding: 0px 0 50px;
  margin: 0;
  -webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.3);
  -moz-box-shadow:1px 1px 10px rgba(0,0,0,0.3);
  box-shadow:1px 1px 10px rgba(0,0,0,0.3);  
}
#top-navbar {
  border: none;
  position: relative;
  background: none;
  z-index: 10;
	padding: 0;
	filter:none;
}
.header-navbar-fixed {
	position: fixed;
	top: 0;
	left: 0;
	float: left;
	width: 100%;
	

	background: #fff;
	z-index: 100;
  
}
#top-navbar .brand {
  padding: 0;
}
#top-nav {
  margin:60px 0 0;
  position: relative;
  z-index: 90;
  float: right;

  padding: 0 12px;
  
  border-radius:6px;
  
  background: #fff;
  filter:none;
  box-shadow:0 0px 5px rgba(0,0,0,0.2);
}
#top-nav a.nav-link {
  font-size: 20px;
  color: #999;
  padding: 20px 13px;
  text-shadow: none;
}
#top-nav a.nav-how-it-works {
	padding-left: 14px;
}

#top-nav a.nav-home {
  padding-left: 0;
  padding-right: 0px;
}
.nav-home i.icon-home {
  line-height: 18px;
  font-size: 28px;
}
#top-nav li a.nav-my-account {
  font-size: 17px;
}
#top-nav .active a {
	background: none;
	color: #99b936;
}
#top-subnav{
  float:right;
  clear:right;
  background:#fff;
  background:rgba(255,255,255,0.9);
  z-index:80;
  margin:-10px 0px 0px 0px;
  box-shadow:0 0px 5px rgba(0,0,0,0.2);
  border-radius: 6px;
  padding:12px 8px 0px;
  position: absolute;
  right: 300px;
  left: auto;
}
#top-subnav li a{
  padding:6px 12px;
}
#my-account {
  left: auto;
  z-index: 10;
  background: url(/assets/my-account.png) no-repeat 0 16px;
}

#my-account a.dropdown-toggle {
  text-shadow: none;
  color: #fff;
  width: 120px;
  text-align: center;
  padding: 24px 10px 20px;
  
 }
#my-account.open a.dropdown-toggle {

  background: none;
}
#my-account.open {
  background-position: 0 -150px;
}
#my-account a.dropdown-toggle i.caret {
	margin-top: 7px;  
	color: #fff;
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.navbar li#my-account ul.dropdown-menu {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 4px;
  
  box-shadow:1px 3px 10px rgba(0,0,0,0.2), 0px 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:1px 3px 10px rgba(0,0,0,0.2), 0px 1px 1px rgba(0,0,0,0.2);
}
#login a {
  background: url(/assets/my-account-login.png) no-repeat 0 12px;
  padding: 20px 26px;
  margin-left: 10px;
  font-size: 14px;

color: #fff;
text-shadow: none;
}
#site-logo {
  margin: 10px 0 10px 30px;
  padding: 0;
  float: left;
}
.home-header .row {
  position: relative;
}
#site-logo a {
  background: url(/assets/logo.png);
  width: 177px;
  height: 211px;
  display: block;
  text-indent: -9000em;
}
.big-box-image {  
  height: 600px;
  width: 600px;
  position: absolute;
  z-index: 2;
  top: -250px;
  right: -60px;
}


a.how_it_works_link {
  display: block;
  position: absolute;
  top: 130px;
  left: 80px;
  text-indent: -9000em;
  width: 450px;
  height: 440px;
  color: #fff; 
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
  z-index: 20;
  font-size: 40px;

}
.from-only {
  display: block;
  background: url(/assets/price-message.png) no-repeat 0 0;
  width: 163px;
  height: 163px;
  text-indent: -9000em;
  position: absolute;
  z-index: 21;
  top: 415px;
  right: 90px;
}
.homepage-messages-wrap {
	position: absolute;
	bottom: -40px;
	right: 0;

	width: 600px;
	height: 430px;  
	z-index: 0 !important;
}
.homepage-messages {
  width: 600px;
  height: 400px;
}
.speech-bubble {
  width: 600px;
  height: 400px;
  background-repeat: no-repeat;
  
}
div.speech-bubble-1 {
  background-image:url(/assets/homepage-messages-1.png);	
  background-position: 170px 60px;
}
div.speech-bubble-2 {
  background-image:url(/assets/homepage-messages-2.png);
  background-position: 60px 30px;
}
div.speech-bubble-3 {
  background-image:url(/assets/homepage-messages-3.png);
  background-position: 240px 180px;
}

.home-tagline {
  font-size: 40px;
  line-height: 1.04;
  margin: 0 0 20px;
}
.site-intro-text,
.site-more-intro-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.53;
  margin: 0 40px 30px 0;
}
.site-more-intro-text {
  width: 422px;
  font-size: 14px;
}
.home-strip-1 {
  padding: 40px 0;
  background: #c69f7a url(/assets/bg_card.jpg) fixed;
  
    
  -webkit-box-shadow:inset 1px 1px 10px rgba(0,0,0,0.3);
  -moz-box-shadow:inset 1px 1px 10px rgba(0,0,0,0.3);
  box-shadow:inset 1px 1px 10px rgba(0,0,0,0.3);  
}
.home-strip-2 {
background: #866b53 url(/assets/home-strip-2.png) center;
  padding: 40px 0;
  
    -webkit-box-shadow:inset 1px 1px 10px rgba(0,0,0,0.3);
  -moz-box-shadow:inset 1px 1px 10px rgba(0,0,0,0.3);
  box-shadow:inset 1px -2px 10px rgba(0,0,0,0.3);  
}

.home-strip-box {


  
  border-radius:5px;
  -webkit-border-radius:5px;
}
.how-it-works-summary {
	float: left;
  background: #efe3d5 url(/assets/how-it-works.jpg) no-repeat;
  width: 100%;
  height: 200px;
  
       -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;

}

a.christmas-link {
	background: url(/assets/christmas-link2.png) no-repeat;
	display: block;
	text-indent: -9000em;
	height: 310px;
	
	-moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
  
}

.about-video {
  margin: 0 20px;
}
.how-it-works-summary h2 {
  float: left;
  margin: 50px 0 0 240px;
}
.how-it-works-summary:hover {
  text-decoration: none;

}
#blog-summary {
	
	background: #fff;
	height: 510px;
	margin-bottom: 0px;

  -webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.3); 
  box-shadow:0px 0px 10px rgba(0,0,0,0.3);
}
#home-left-col {
	background: #8d7559;
  background: rgba(0,0,0,0.4);
  
  border-radius:5px;
  -webkit-border-radius:5px;
  
  
    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.3); 
  box-shadow:0px 0px 10px rgba(0,0,0,0.3);
}
#how-it-works-summary {
    margin-bottom: 0px;
    
}
.home-strip-box .well {	
  	margin: 0;
	background: none;
}

#how-it-works-summary .well {
  
}

img.temp-illustration {
  
  float: right;
  height: 170px;
  margin: 0 20px 0 0;
}

.home-ctas {
  margin: 20px -30px 0 0;
  float: left;
  position: relative;

}
.btn-homepage-cta {
	font-size: 26px;
	margin: 0;
	padding: 20px;
}
.give-box-btn, .give-box-btn:hover {
  background: url(/assets/give-box-btn.png) no-repeat;
  color: #99b936;
  width: 148px;
  margin: 0 -30px 0 67px;
  position: relative;
  z-index: 100;
}

.or {
 width: 36px;
 height: 19px;  
 background: url(/assets/or.png) no-repeat 0 0;
 position: absolute;
 top: 20px;
 left: 185px;
}

.home-strip-title {
}
h2.about-us-video-title {
  color: #efe3d5;
  margin: 10px 20px;
}
.home-strip-title a {
  color: #755436;
}
#how-it-works-summary .home-strip-title a {
  color: #fff;
}
#facebook-box {
	background: #fff;
  background: rgba(255,255,255,0.9);
    position: relative;
    
    -moz-box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
box-shadow: 0px 1px 20px rgba(0,0,0,0.2), 0px 1px 6px rgba(0,0,0,0.2);
}
.facebook-box-wrapper {
  width: 380px;
  height: 229px;
  margin: 30px 25px 27px;
  overflow: hidden;
}
.facebook-box-wrapper iframe {
  float: left;
  margin: -37px 0 0 -11px;
}

.social-media-btn {
  background: #56bdd7;
  float: left;
  width: 140px;
  margin: 0px 0 0;
  color: #fff;
  font-size: 18px;
  padding: 15px 0;
  text-align: right;
  position: relative;
  
  box-shadow:0px 1px 6px rgba(0,0,0,0.2)
}
.social-media-btn:hover {
  text-decoration: none;
  color: #fff;
}
.social-media-btn [class*="icon"] {
	position: absolute;
	top: 18px;
	font-size: 28px;
	left: 15px;
}

.social-media-btn span{
  padding-right:15px;
}

a.twitter-btn {
  margin-right: 20px;
  background: #008EC7;
}
a.google-plus-btn {
  margin-right: 20px;
  background: #DD4433;
}
a.linkedin-btn{
  background:#2672AF;
}
a.facebook-btn {
  background: #304f8e;
  float: right;
  position: absolute;
  top: -10px;
  margin: 0;
  right: 20px;
}

.footer-wrapper {
  background: #5F4B3B;
  height: 240px;
}

.footer {
  border: none;
  position: relative;
}
.footer-links {
  
}
.footer-links li {
	float: left;
}
.footer-links a {
  margin: 0 20px  0 0;
}

#siteby {
	position: absolute;
	top: 20px;
	right: 0;
	background: url(/assets/yoomee_logo.png);
	width: 79px;
	height: 31px;
	text-indent: -9000em;
	opacity: 0.4;
  
}
#siteby:hover {
  opacity: 1;
}





/* ========== how it works box ========== */

.how-it-works-well {
  background: #f5f5f5;
  height: 480px ;
  margin-bottom: 20px;
}

.how-it-works-desc {
  display: block;
  height: 160px;
}
.how-it-works-cta {
	width: 100%;
	padding: 10px 0;
	margin: 20px 0 0;
  
}
.coming_very_soon {
  width: 100%;
  height: 600px;
  background: url(/assets/coming_very_soon.png) no-repeat top center;
}
img.illustration-surprise {
  margin-top: -127px;
  margin-bottom: 45px;
}
.how-it-works-illustration {
 margin-bottom: 10px; 
}
/*========== Sign up ==========*/
form.order .form-actions{
  padding-left:20px;
  margin: 30px 0 0;
  
       -moz-border-radius-bottomleft:5px;
     -moz-border-radius-bottomright:5px;
     -webkit-border-bottom-right-radius:5px;
     -webkit-border-bottom-left-radius:5px;
     border-bottom-right-radius:5px;
     border-bottom-left-radius:5px;

}
form.order abbr{
  display:none;
}

ul.box-options {
  float:left;
  clear:both;
  width:100%;
  margin:5px 0px -10px;
}
ul.box-options li {
  border-top: 1px solid #ccc;
  float: left;
  clear: both;
  width: 100%;
  padding:8px 0px;
}
#box_step .thumbnails .btn{
  padding:5px 7px;
  margin-top:5px;
}
#box_step .thumbnails h4{
  margin:0px;
}
#box_step .thumbnails .saving{
  font-weight:normal;
  font-style:italic;
  color:#D60030;
}
#box_step .thumbnails .saving .percentage{
  font-size:13px;
}
#box_step .thumbnails .active .btn{
  background-color: #99b936;
}
h3.box-title {
  margin-top: 40px;
}
#box_step .thumbnail .box-radio input,
#box_step .thumbnails input {
  display:none;
}
#box_step .box-photo{
  width:80%;
  margin:0px 10%;
}
#box_step #discount-applied{
  padding-right:14px;
  text-align:center;
  margin-bottom:5px;
}
#box_step #discount-bar .control-group{
  margin:0px;
}

#discount-bar {
  background: url(/assets/discount-bar.png) top center;
  border: none;
  margin-top: 10px;
  
   
}

.discount-bar-left,
.discount-bar-center,
.discount-bar-right{
  float:left;
}
.discount-bar-left{
  width: 200px;
  padding-top:2px;
  margin: 0 0 0 10px;
}
.discount-bar-left h2 {
  font-size: 25px;
  color: #fff;
}
.discount-bar-center{
  width: 472px;
}
.discount-bar-center label{
  float: left;
  text-align: right;
  width: 290px;
  color: #fff;
  margin-top:10px;
  margin-left: 10px;
}
.discount-bar-center input{
  float:right;
  

  padding: 7px 10px;
  margin:2px 10px 0 0;
  
  border: none;
}
.discount-bar-right{
  width: 70px;
}
.discount-bar-right .btn {
  padding: 7px 15px;
  margin: 2px 0 0 0;
}
#discount-toggle {
  margin-top:-34px;
}
#delivery_step p.lead{
  margin-left:30px;
}

#order_delivery_address1_input .help-inline{
  color:#666;
  font-style:italic;
}

p.delivery-notice-text {
	color: #ffffff;
	font-size: 13px;
	text-align: center;
	margin: 0;
  
}

#delivery-notice {
  background: url(/assets/delivery-notice-christmas.png) no-repeat 0 0;
  padding: 14px 0;
}




#register_step .accordion-group {
  border:none;
}
.form-horizontal #billing_step .control-group {
  float: left;
  margin-left: 0;
  padding-left: 0;

  
  }
  .form-horizontal #billing_step .control-group input {
  float: left;
}
.form-horizontal #billing_step .control-label{
  width:80px;
  float: left;

}
.form-horizontal #billing_step .controls{
  margin-left:100px;
}

#order_credit_card_attributes_month_input {
  float:left;
}

#order_credit_card_attributes_year_input {
  float:left;  
}
.form-horizontal #order_credit_card_attributes_year_input .control-label {
  width:15px;
  font-size:25px;
  line-height:25px;
}
.form-horizontal #order_credit_card_attributes_year_input .controls{
  margin-left:20px;
}

.order-box {
  background: #fff;
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 0;
  position: relative;
  width: 820px;
  
  border-radius:4px;
  -webkit-border-radius:4px;
  
  box-shadow:1px 1px 1px rgba(0,0,0,0.3), 0px 0px 10px rgba(0,0,0,0.2);

}
.order-box form {
 margin: 0;
}
.order-box-row {
  margin: 0 0 0 20px;
}

.order-btn {
  font-size: 20px;
  padding: 13px 20px;
}
.back-btn.order-btn {
 background: #f5f5f5;  
 color: #755436;
}

.order-step-box.cardboard-wrapper {
background: none;
}
.order-step-box .cardboard-wrapper-top {
  display: none;
}
.order-step-box .order-box {
  box-shadow:none;
  background: none;
  
}
.order-step-box .order-box .inner {
	padding: 0;
}
.order-box-title {
  margin: 30px 30px 35px;
}
.secure-padlock {
  position: absolute;
  top: 25px;
    font-size: 14px;
	  line-height: 15px;

  right: 25px;
}
.secure-padlock i.icon-lock {
  font-size: 33px;
  line-height: 1;
  width: 20px;
  color: #ccc;
  position: absolute;
  right: 0;
  top: 0;
}
.secure-padlock span {
	color: #ccc;
	margin: 0 30px 0 0;
	float: right;
	text-align: right;
}
.order-step-box .secure-padlock {
  display: none;
}


.choose-box {
  background: #fff;
  box-shadow:0 2px 10px rgba(0,0,0,0.07);
  -webkit-box-shadow:0 2px 10px rgba(0,0,0,0.07);
  margin-top: 15px;
}
.choose-box-small {
  width: 30%;  
  text-align: center;
  margin-bottom: 20px;
}
.choose-box-corporate {
  width: 95%%;
  margin-bottom: 60px;
}
.box-illustration {
  height: 160px;
}
.choose-btn {
  width: 100%;
  padding: 10px 0;
  margin: 0 0 10px;
}
.choose-price {
  font-size: 20px;
}
.choose-price .line-through {
  margin-bottom: 10px
}
.free-delivery {
  color: #99b936;
}
.choose-smallprint {
  font-size: 12px;
  line-height: 1.3;
}
a.order-option {
  text-decoration: underline;
}
#register_step #accordion {
margin-left: 40px ;
}

/*  For christmas- comment out afterwards  */
.gift-wrapper {
  background:  no-repeat top center;
}
.gift-first-title {
}
/*a.christmas-give-btn, a.christmas-give-btn:hover {
  background: url(/assets/christmas-give-btn.png) no-repeat;
  position: absolute;
  margin: 0 0 0 15px;
  bottom: -20px;
  left: 200px;
  padding: 30px 0 40px;
  width: 260px;
  text-align: left;
  text-indent: 70px;
}*/

/*End of christmas stuff */

/* ========== Blog ========== */
.cardboard-wrapper {
  background: #c69f7a url(/assets/blog-wrapper.png);
  position: relative;
  float: left;
  width: 100%;
  z-index: 3;
  margin: -50px 0 0 0;
  padding: 40px 0 0 0;
}
.cardboard-wrapper-top {
  background: url(/assets/blog-wrapper-top.png) repeat-x top center;
  width: 100%;
  height: 40px;
  position: absolute;
  top: -16px;
  left: 0;
}
.blog-main-title {
  color: #fff;
}
.btn-rss {
  padding: 7px 9px;
  margin-top: 15px;
  background-color:#ff6600;
}
.btn-rss.blog-post-rss{
  margin-top: 5px;
}
.btn-rss:hover {
  background-color:#ff6600;
}
.btn-rss:hover span{
  text-decoration:underline;
}
.blog-roll {
  min-height: 600px;
  position:relative;
  z-index:20;
  background: url(/assets/blog-roll.png) no-repeat top center;
}
.blog-roll-inner {
	background: url(/assets/blog-roll-inner.png) top center;
  margin: 30px 11px;
  box-shadow:0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);
}
.blog-roll-inner .options_panel{
  margin:20px;
}

.blog-post {
  padding: 20px;
  float: left;
  width: 558px;
  clear: both; 	
  border-bottom: 1px solid #99b936;
}

.related-posts h2.related-title{
  margin-left:20px;
}

.external-related-links a{
  display:block;
  margin:10px 0 5px 0;
}

.post-summary-left {
  float: left;
  width: 200px;
  margin: 0 20px 0 0;
}
.post-summary-right {
  float: left;
  width: 338px;
  margin: 0;
}
.summary-title a {
  color: #755436;
}
a.post-summary-img {
	display: block;
	float: left;
	width: 200px;
	margin: 0 0 10px;
  
}
a.post-summary-img img {
  float: left;
  width: 200px;
}
ul.post-info {
  float: left;
  width: 100%;
}
ul.post-info li {
	float: left;
	width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid #e8e8e8;
}
ul.post-info li.post-comments {
  border: none;
}
ul.post-info li span {
  float: right;
  width: 170px;
}
ul.post-info li, ul.post-info li a, ul.post-info li a:hover {
  text-decoration: none;
  color: #999;
}

.disqus_thread {
  padding:20px;
}
#dsq-content #dsq-global-toolbar {
  margin:0px !important;
}
#disqus_thread .dsq-reply{
  margin-top:10px;
}
#disqus_thread h3 {
  margin-bottom:10px;
  font-size:18px;
}
#dsq-subscribe {
  display:none;
}


#blog_post_info {
  position:relative;
  float: left;
  clear: both;
	background: url(/assets/blog-roll-inner.png) top center;
  margin:40px 0px 0px -50px;
  padding: 20px 20px 20px 70px;
  width:200px;
}

.facebook-share a.btn.share-link.facebook-share-link{
  background-color:#ECEEF5;
  color:#345F9D;
  display:inline;
  padding:5px;
  font-size:11px;
}

.facebook-share a.btn.share-link.facebook-share-link .icon-facebook{  
  display:inline;
} 

th.center,
td.center {
  text-align:center;
}
th.right,
td.right {
  text-align:right;
}

#cvv2-help a {
	padding-left: 12px;
	width: 200px;
	font-size: 12px;
}

/* ========== Login page ========== */

#login-form {
  margin-top: -50px;
  margin-bottom: 20px;
  background: #fff;
  padding: 20px;
  
   	
	 -webkit-box-shadow:inset 0 0 12px #f6f6f6, -2px 2px 0px #ccc, -3px 3px 0px #fff, -5px 5px 0px #ccc, 0px 0px 12px #888;
     -moz-box-shadow:inset 0 0 12px #f6f6f6, -2px 2px 0px #ccc, -3px 3px 0px #fff, -5px 5px 0px #ccc, 0px 0px 12px #888;
     box-shadow:inset 0 0 12px #f6f6f6, -2px 2px 0px #ccc, -3px 3px 0px #fff, -5px 5px 0px #ccc, 0px 0px 12px #888;
  
}

#wide .blog{  
  background-color:#FFF;

  padding:20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;  
  
  

}
input#user_email, input#user_password {
  width: 275px;
}


td.discount-code code {
  padding:0px;
  background:none;
  border:none;
  font-size:16px;
  color:#333;
}

.control-group.error input[type="submit"]{
  color:#fff;
}

a.popover-link{
  cursor:pointer;
}


/* ====================== Archive page ====================== */
.archive {
  margin-top: 0px;
  position: relative;
  z-index: 14;
  margin-bottom: 40px;
}
.archive-nav-pills ul {
	margin-left: 0px;

}
.archive-nav-pills a {
  color: #99b936;
}
.archive-nav-pills .active a, .archive-nav-pills .active a:hover {
  background: #99b936;
}

.archive-title {
  color: #5f4b3b;
  line-height: 1;
  padding: 0 0 20px;
  margin: 10px 0 20px;
  border-bottom: 1px solid #ccc;
}

.archive-intro-text {
	border-bottom: 1px solid #ccc;
    color: #00000;
    font-size: 18px;
	padding: 7px 0px 19px 14px;
	font-weight: normal;
}
.archive-item {
  height: 465px;
}

h2.archive-item-title {
  font-size: 20px;
  margin: 15px 0 15px;
}

a.nutritional_info_link {
	color: #999;
	display: block;
	width: 100%;
	float: left;

  
}
a.nutritional_info_link:hover {
	text-decoration: none ;
	color: #99b936;
}
.month-link {
  margin: -50px 0 0 0;
}

/* ====================== Shipment page ====================== */
a#repeat-repeat-payment {
  color: #B94A48;
}

/* ====================== Survey page ====================== */
.survey-titles {
  border-bottom: 1px solid #ccc;
}
h1.survey-title {
  color: #5f4b3b;
}
h2.survey-smaller-title {
  color: #4a8270;
  font-size: 18px;
}

.survey-info {
  width: 60%;
  float: left;
}
.survey-item .well {
  border-bottom: 1px solid #ccc;
  
  -webkit-border-radius:0;
  border-radius:0;
}
.survey-image-wrap {
  width: 70%;
  float: left;
  margin-bottom: 20px;
}
.survey-right-col {
  float: right;
  width: 30%;
  margin: 50px 0 0 0;
}

h3.survey-rate-title {
  font-size: 18px;
}
.rating {
unicode-bidi: bidi-override;
direction: rtl;
font-size: 30px;
position: relative;
z-index: 10;
}
.survey-ratings {
  position: relative;
}
.yum-yuck {
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  width: 180px;
  z-index: 8;
  color: #999;
  font-size: 16px;
}
.yuck {
  position: absolute;
  left: -58px;
  top: 0px;
}
.yum {
  position: absolute;
  right: -50px;
  top: 0px;
}
.survey-ratings:hover .yum-yuck {
  opacity: 1;
}
a.star {
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
display: inline-block;
}
a.star:hover {
  text-decoration:none;
}
a.star::before {
content: "\f006";
padding-right: 5px;
color: #999;
}
.rating a.star:hover {
cursor: pointer;
}
.rating a.star:hover::before,
.rating a.star:hover::before,
.rating a.star:hover ~ a.star::before,
.rating a.star:hover ~ a.star::before,
.rating a.star-active::before,
.rated-1 .star-1::before,
.rated-2 .star-1::before,
.rated-3 .star-1::before,
.rated-4 .star-1::before,
.rated-5 .star-1::before,
.rated-2 .star-2::before,
.rated-3 .star-2::before,
.rated-4 .star-2::before,
.rated-5 .star-2::before,
.rated-3 .star-3::before,
.rated-4 .star-3::before,
.rated-5 .star-3::before,
.rated-4 .star-4::before,
.rated-5 .star-4::before,
.rated-5 .star-5::before{
content: "\f005";
color: #99b936;
}

.add-comment-button {
  margin-top: 20px;
  float: left;
}

/* ====================== Thanks page ====================== */
.nutribox-brown {
  color: #755436;
}
.share-btn {
  float: left;
  padding: 10px 20px;
  margin: 30px 20px 30px 0;
  border: none;
  -webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.5);
  box-shadow:1px 1px 5px rgba(0,0,0,0.5);
}
.share-btn i {
  margin: 0 10px 0 0;
  font-size: 20px;
  line-height: 12px;
}
.share-btn-twitter,
.share-btn-twitter:focus,
.share-btn-twitter:hover {
  background: #52c2f6;
}
.share-btn-facebook,
.share-btn-facebook:focus,
.share-btn-facebook:hover {
  background: #3b5998;
}
/*--------Pages--------*/

#page_related_pages_input.select.control-group.optional div.controls{
  height:300px;
}

#page_related_pages_input.select.control-group.optional div.controls input.default{
  width:185px !important;
}
