=semantic_form_for @product, :html => {:class => "form-horizontal"} do |form|
  =form.inputs do

    =form.input :month, :as => :select, :collection => Product.months
    =form.input :year
    =form.input :box_type
    =form.input :name
    =form.input :description, :input_html => {:class => 'span7'}
    =form.input :nutritional_information

    

    =form.commit_button "Save"