.row
  .span8
    %h1 All months
  .span4
    =link_to(new_product_path, :class => "btn btn-primary pull-right mt-1") do
      %i.icon-plus
      Add product  

-if @months.empty?
  %p There aren't any products yet.
-else
  %table.table.table-striped
    %thead
      %tr
        %th
    %tbody
      -@months.each do |month|
        %tr
          %td
            =Date::MONTHNAMES[month.month]
            =month.year
          %td
            =pluralize(month.count, 'product', 'different products')
            
          %td
            =link_to 'View products', products_month_path(:year => month.year, :month => month.month)
          %td    
            =link_to 'Preview box', box_path(:year => month.year, :month => month.month, :box_type => 'standard'), :target => '_new'      
          %td   
            =link_to 'Preview standard survey', survey_preview_path(:year => month.year, :month => month.month, :box_type => 'standard'), :target => '_new'   
          %td             
            =link_to 'Preview mini survey', survey_preview_path(:year => month.year, :month => month.month, :box_type => 'mini'), :target => '_new'     

