.row
  .span8
    %h1
      =@month_name
      =@year
  .span4
    =link_to(new_product_path(:month => @month, :year => @year), :class => "btn btn-primary pull-right mt-1") do
      %i.icon-plus
      Add product
-if @products.empty?
  %p
    There aren't any products for
    =@month_name
    =@year
    yet.
    
-else
  %table.table.table-striped
    %thead
      %tr
        %th Product name
        %th In which box?
        %th Action
        %th
    %tbody
      -@products.each do |product|
        %tr
          %td=product.name
          %td
            =product.box_type
          %td.span4
            =link_to("Edit", edit_product_path(product))
            =link_if_can("Delete", [:destroy, product], :confirm => "Are you sure?")
            
          
.row
  .span8
    =link_to 'View all months', products_months_path
    &nbsp;
    &nbsp;
    =link_to 'Preview standard box', box_path(:year => @year, :month => @month, :type => 'standard'), :target => '_new'   
    &nbsp;
    &nbsp;
    =link_to 'Preview mini box', box_path(:year => @year, :month => @month, :type => 'mini'), :target => '_new'    