-params[:id] ||= params[:enquiry][:form_name]
%h1.mb-2=title(@enquiry.form_title)
-if @enquiry.form_intro.present?
  =@enquiry.form_intro
-if @enquiry.form_name == 'corporate_box_enquiry'
  =Page.find_by_slug('corporate_box_enquiry').text.html_safe
=render("form", :enquiry => @enquiry)