.container
  .row.footer  
    .span12
      %p.copyright
        &copy; 2012
        =Settings.site_name
      %ul.footer-links.unstyled  
        %li
          =link_to_slug "About us", :about, :class=>"footer-link"
        %li
          =link_to_slug "FAQs", :faq, :class=>"footer-link"
        %li
          =link_to_slug "Contact us", :contact, :class=>"footer-link"
        -unless current_user
          %li=link_to("Login", sign_in_path)
      =#link_to("Yoomee", "http://www.yoomee.com", :id => "siteby", :target=>"_blank")