.navbar
  #top-navbar.navbar-inner
    .brand
      %h1#site-logo
        =link_to(Settings.site_name, root_path)
    %ul#top-nav.nav
      %li{:class => "#{current_page?(root_path) ? 'active' : ''}"}
        =link_to("Home", root_path, :class=>"nav-link")
      =li_with_active slug_active?(:how_it_works) do
        =link_to_slug "How it works", :how_it_works, :class=>"nav-how-it-works nav-link"
      =li_with_active current_page?(join_path) do
        =link_to "Join", join_path, :class=>"nav-join nav-link"
      =li_with_active current_page?(gift_path) do
        =link_to "Gift", gift_path, :class=>"nav-join nav-link"
      =li_with_active slug_active?(:blog) do
        =link_to_slug "Blog", :blog, :class=>"nav-blog nav-link"
      %ul.nav.pull-right
        -if logged_in?
          %li#my-account.user-link.dropdown
            =link_to("#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}) do
              My account
              %i.caret
            %ul.dropdown-menu
              -if current_user && current_user.admin?
                %li
                  =link_to(admin_path) do
                    %i.icon-briefcase
                    Admin
              -else
                %li
                  =link_to(orders_path) do
                    %i.icon-shopping-cart
                    My subscriptions
              %li
                =link_to(sign_out_path, :method => :delete) do
                  %i.icon-signout
                  =t(:logout)
        -else
          %li#login.user-link
            =link_to("Login", sign_in_path)
        
    -if false    
      %ul#top-subnav.nav
        %li
          =link_to(orders_path) do
            %i.icon-shopping-cart
            My subscriptions
        -if logged_in?
          %li
            =link_to(sign_out_path, :method => :delete) do
              %i.icon-signout
              =t(:logout)
          -else
            %li
              =link_to("Login", sign_in_path)
