.navbar
  #top-navbar.navbar-inner
    .brand
      %h1#site-logo
        =link_to(Settings.site_name, root_path)
    %ul#top-nav.nav
      %li{:class => "#{current_page?(root_path) ? 'active' : ''}"}
        =link_to("Home", root_path, :class=>"nav-link")
      =li_with_active slug_active?(:how_it_works) do
        =link_to_slug "How it works", :how_it_works, :class=>"nav-how-it-works nav-link"
      =li_with_active current_page?(join_path) do
        =link_to "Join", join_path, :class=>"nav-join nav-link"
      =li_with_active current_page?(gift_path) do
        =link_to "Gift", gift_path, :class=>"nav-join nav-link"
      =li_with_active slug_active?(:blog) do
        =link_to_slug "Blog", :blog, :class=>"nav-blog nav-link"
    %ul#top-subnav.nav
      %li
        =link_to(orders_path) do
          %i.icon-shopping-cart
          My subscriptions
      -if logged_in?
        %li
          =link_to(sign_out_path, :method => :delete) do
            %i.icon-signout
            =t(:logout)
        -else
          %li
            =link_to("Login", sign_in_path)