.home-strip-2
  .container
    .row
      #coming-soon.coming-soon.span6
        %h2.coming-soon-title
          Stay in touch
        .lower-box.email-signup
          .inner-padding
            %p.email-signup-intro Sign up to our email newsletter for our latest news
            =form_tag('/newsletter/subscribe') do #'http://thenutribox.us6.list-manage1.com/subscribe/post?u=44bdbc0e5b3036d3b03028268&amp;id=f573663757') do
              %input#email-signup-input{:name => "email", :type=>"text", :placeholder=>"your email address"}
              =submit_tag("Submit", :class=>'btn email-signup-button')
        =link_to "http://twitter.com/thenutribox", :target=>"_blank", :class=>"twitter-btn social-media-btn" do
          %i.icon-twitter
          %span
            Twitter
        =link_to "http://pinterest.com/thenutribox", :target=>"_blank", :class=>"pinterest-btn social-media-btn" do
          %i.icon-pinterest
          %span
            Pinterest
            
      #facebook-box.span6
        =link_to "http://facebook.com/thenutribox", :target=>"_blank", :class=>"facebook-btn social-media-btn" do
          %i.icon-facebook
          %span
            Facebook
        .facebook-box-wrapper
          :plain
            <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fthenutribox&amp;width=460&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=true&amp;appId=157913157580785" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:460px; height:290px;" allowTransparency="true"></iframe>
        
