!!!5
%html
  %head
    %title
      =Settings.site_name
      ="- #{@page_title}" if @page_title.present?
    =stylesheet_link_tag 'https://fast.fonts.com/cssapi/bb868a11-c5d5-4bea-a682-2dcd52ad1e63.css'
    =stylesheet_link_tag("application")
    /[if IE 7]    
      %link{ :rel=>"stylesheet", :type=>"text/css", :href=>"/assets/ie7.css"}
      
    =javascript_include_tag("application")
    =csrf_meta_tags
    =favicon_link_tag('/assets/favicon2.ico')
    =yield :head
    =google_analytics_js
  -body_tag do
    .main-wrapper{:class => ('gift-wrapper' if @order && (@order.gift? && @order.current_step_box?))}
      -if flash.present?
        .header-alert
          =yield_with_bootstrap(render_flash)    
      -unless controller_name.home?
        =yield_with_bootstrap(render("layouts/header"))
      =yield_with_bootstrap(yield)
      .push
    .footer-wrapper
      =render("layouts/footer")