%h2 Enter your payment details
=form.semantic_fields_for :credit_card do |fields|    
  =fields.input :name
  =fields.input :number
  =fields.input :month
  =fields.input :year
  =fields.input :verification_value, :label => "CVV"

=form.input :billing_address1
=form.input :billing_address2
=form.input :billing_city
=form.input :billing_postcode, :as => :string
=form.input :billing_country, :as => :string