%h2.order-box-title
  -if @error
    Check
  -else
    Enter
  your payment details
.row.order-box-row
  -if @error
    .span10
      .alert.alert-block.alert-error.mr-3
        %p There was a problem with your payment, please check your details and try again.
        %p
          %u=@error
  .span5
    %h4 Card details
    =form.semantic_fields_for :credit_card do |fields|    
      =fields.input :name
      =fields.input :number
      =fields.input :month, :as => :select, :collection => (1..12), :include_blank => false, :placeholder => "MM", :input_html => {:class => 'input-mini'}, :label => "Expiry date"
      =fields.input :year, :placeholder => "YYYY", :as => :select, :collection => (Date.today.year..Date.today.year+10), :input_html => {:class => 'input-small'}, :label => "/", :required => false, :include_blank => false
      .clearfix
      =fields.input :verification_value, :label => "CVV",:input_html => {:class => 'input-mini'}
  .span5
    %h4 Billing address
    =form.input :billing_address1, :label => "Address"
    =form.input :billing_address2, :label => false
    =form.input :billing_city, :label => "City"
    =form.input :billing_postcode, :as => :string, :label => "Postcode", :input_html => {:class => "input-small"}