-content_for :head do
  :coffeescript
    $(document).ready ->
      $('a.theme-btn').click (event) ->
        event.preventDefault()
        data = $(this).data()
        $('#order_theme_id').val(data.themeId)
        $('#box-size-selection li span#theme-name-mini').html(data.boxName)
        $('#box-size-selection li span#theme-name-standard').html(data.boxName)
        $('#box-size-selection li span#mini-price').html(data.miniPrice)
        $('#box-size-selection li span#standard-price').html(data.standardPrice)
        $('#box-size-selection').modal('show')

      $('a.size-btn').click (event) ->
        event.preventDefault()
        data = $(this).data()
        $('#order_box_type').val(data.boxType)
        $('#box-size-selection').modal('hide')
        $('form.order').submit()

.row
  .span10
    -@themes.each do |theme|
      .span4.choose-box.choose-box-theme.thumbnail
        =image_for(theme, '281x', :class => 'mb-1')
        =raw(theme.description)
        =link_to 'Select', '#', :class => 'btn btn-primary theme-btn', :data => { :theme_id => theme.id, :mini_price => "£#{theme.mini_price_for_one_delivery} ", :standard_price => "£#{theme.standard_price_for_one_delivery} ", :box_name => theme.name }

    -unless @order.gift?
      .span4.choose-box.choose-box-corporate.thumbnail
        =image_tag('box-label-corporate.png')
        =snippet_text(:corporate_box_description, "<p>Healthy snacking can make a real difference to your performance at work, positively impacting energy levels, concentration and mood swings (see our <a href='/blood-sugar-balance-3'>blog article</a>).</p><p class='mt-2'>If you're from a business or organisation with an interest in supplying healthy snacks to a group of staff, <a href='/corporate-box-enquiry'>click here for more information.</a></p></div>").html_safe
          
  .row
    .span10
      .thumbnail#discount-bar
        .caption
          .discount-bar-left
            %h2.mb-0 Discount code?
          .discount-bar-center
            .control-group
              %label=discount_code_label(@order)
              .control-group{:class => discount_code_class(@order)}
                -if @order.discount_code == DiscountCode.default
                  =form.text_field :discount_code_code, :class => "span2", :value => nil
                -else
                  =form.text_field :discount_code_code, :class => "span2"
          .discount-bar-right
            =form.submit('Apply', :name => 'discount_code', :class => "btn pull-right")
          .clearfix

