%h1 Choose your box
=form.input :box_type, :as => :select, :collection => order_box_options, :prompt => "Please select...", :label => "Box"
=form.input :number_of_months, :as => :select, :collection => order_month_options, :prompt => "Please select...", :label => "Subscription"