%h2 Where should we send your box?
=form.input :delivery_name, :label => "Name", :placeholder => "e.g. John Smith"
=form.input :delivery_address1, :label => "Address"
=form.input :delivery_address2, :label => false
=form.input :delivery_city, :label => "City"
=form.input :delivery_postcode, :label => "Postcode", :input_html => {:class => "input-small"}
