%h2.order-box-title
  Where should we send your
  ="friend's" if @order.gift?
  box?
-if @order.box_type == "standard"
  %p.lead
    This box won't fit through a letter box, why not enter your
    ="friend's" if @order.gift?
    work address?
=form.input :delivery_name, :label => "Name", :placeholder => "e.g. John Smith"
=form.input :delivery_address1, :label => "Address", :hint => "UK addresses only please."
=form.input :delivery_address2, :label => false
=form.input :delivery_city, :label => "City"
=form.input :delivery_postcode, :label => "Postcode", :input_html => {:class => "input-small"}
