%h2 Delivery address
=form.input :delivery_name
=form.input :delivery_address1, :label => "Address"
=form.input :delivery_address2, :label => false
=form.input :delivery_city
=form.input :delivery_postcode
