
%h2.order-box-title Where should we send your box?
-if @order.box_type == "multi"
  %p.lead
    Your box won't fix through the letter box,
    %br
    why not enter your office address?
=form.input :delivery_name, :label => "Name", :placeholder => "e.g. John Smith"
=form.input :delivery_address1, :label => "Address"
=form.input :delivery_address2, :label => false
=form.input :delivery_city, :label => "City"
=form.input :delivery_postcode, :label => "Postcode", :input_html => {:class => "input-small"}
=form.input :delivery_notes, :input_html => {:rows => 3, :placeholder => "e.g. Please leave my box with Mr Smith at Number 17"}, :label => "Delivery notes <br/><em>(optional)&nbsp;</em>".html_safe
